* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: white;
  color: #111;
}

/* LOGIN */
#login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #8b0000;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* APP */
#app {
  display: none;
}

header {
  background: #8b0000;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
}

nav {
  background: #13294b;
  padding: 10px 20px;
}

nav a {
  color: white;
  margin-right: 20px;
  cursor: pointer;
  font-weight: bold;
}

nav a.active {
  text-decoration: underline;
}

main {
  padding: 20px;
}

.card {
  background: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
}

.gpa {
  font-size: 40px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.hidden {
  display: none;
}
